<app-header [titulo]= 'title' ></app-header>

  
  <ion-content padding>

      <ion-card mode="ios" color= "primary">

          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
      
        </ion-card>




        <ion-card>

          <ion-item color = "primary">
            <ion-icon color = "light" slot= "start" name= "pin"></ion-icon>
            <ion-label>Marcador</ion-label>
          </ion-item>

          <ion-card-content>

       
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt numquam cum corrupti voluptas, id unde, molestiae velit amet inventore ipsum voluptatem, asperiores modi dolor! Nihil cupiditate labore voluptates esse quam?
        </ion-card-content>
        
        </ion-card>
      

        <ion-card>
        <!-- el ion-img se carga cuando esta por entrar al view point
        en cambio el img cuando la imagen es renderizada
        -->
        <ion-img src= "/assets/shapes.svg"></ion-img>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, repellendus possimus cupiditate asperiores voluptates repellat. Nam odit consequatur et iste eaque quis dolore nihil enim, aliquam quos corporis in culpa.
        </ion-card-content>
        </ion-card>

  </ion-content>