
    <ion-menu side="start" 
    menuId="primerMenu"
    contentId= "principal">
        <ion-header>
          <ion-toolbar color= "primary">
            <ion-title>Menu principal</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <!-- como componentes es un observable , lo tengo que pasar por el pipe async para que me devuelva la data 
            es parecido a  hacer un subscribe de la data 
           para que no de error el routerlink debemos importar el routerModule en el components.module
          -->
          <ion-menu-toggle *ngFor= "let c of componentes | async">

              <ion-item [routerLink]= "c.redirecTo">

              <ion-icon color= "primary" slot= "start" [name]= "c.icon"></ion-icon>
              <ion-label>{{c.name}}</ion-label>
          
            </ion-item>
          </ion-menu-toggle>
       
         
          </ion-list>
        </ion-content>
    </ion-menu>
      